.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

#text-showing1 {
  display: none;
}

#text-showing2 {
  display: none;
}